.lastrules {
	border-top: 0px;
}


.contactuscontainer {
	width: 90%;
	padding: 0.2rem;

	padding-right: 20px;
	padding-left: 20px;
	color: ;
	font-weight: 100;

	font-size: 21px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #00000073;

}

.contactuscontainer iframe {

	height: auto;
	width: 100%;
	height: 300px;
}

.contactuscontainer h2 {
	display: flex;
	margin-bottom: 0px;
	margin-top: 5px;
	font-size: 19px;
	font-weight: 500;
	background-color: white;
	width: fit-content;
	padding: 0.2rem;
	padding-right: 0.2rem;
	padding-left: 0.2rem;
	color: #555;
	border-radius: 20px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 5px;
}

.contactuscontainer h1 {

	font-size: 26px;
	font-weight: 100;
	margin-top: 0px;
}

.contactuscontainer h3 {


	font-weight: 100;
	margin-top: 15px;
	margin-bottom: 0px
}
}

@media only screen and (max-width:1050px) {

	.contactuscontainer iframe {

		height: auto;
		width: 90%;
	}

}

@media only screen and (max-width:780px) {
	.rightside {

		display: none;
	}


}