 .datecontainer{
font-family: 'Roboto', sans-serif;
background-color: #00ffff1f;
color: white;
padding: 0.5rem;
    font-size: 20px;
font-weight: 900;
margin-right: 10px;
width: 25px;
height: 25px;
text-align: center;
display: flex;
animation: fromtop 1s forwards;
  animation-delay: 0s;
opacity: 0;
transition: all 1s ease;
clip-path: circle();
         }
         .datecontainer:hover{
         transform: rotateZ(360deg);
         }
         .letter{
         margin: auto;
         position: relative;
         }	
         @keyframes fromtop{
         0%{
         opacity: 0;
         }
         100%{
         opacity: 1;
         }
         }
      .date{
padding-left: 1;
font-family: 'Bai Jamjuree', sans-serif;
		  font-size: 18px;
font-weight: 600;
		  color: #fff;
		    font-weight: 100;
}
		  
         }
         .datecontainer:nth-child(1){
         }
         .datecontainer:nth-child(1){
         animation-delay: 1s;
         }
         .datecontainer:nth-child(2){
         animation-delay: 1.5s;
         }
         .datecontainer:nth-child(3){
         margin-left: 20px;
         animation-delay: 1.7s;
         }
         .datecontainer:nth-child(4){
         animation-delay: 1.9s;
         }
         .datecontainer:nth-child(5){
         animation-delay: 2.2s;
         }
         .datecontainer:nth-child(6){
         animation-delay: 2.2s;
         }
         .datecontainer1{
         display: flex;
         height: 190;
         position: relative;
         }
         .markyourdates{
         position: absolute;
         right: 0;
         bottom: 0;
         margin-left: auto;
         margin-right: 90px;
         color: white;
         font-size: 33px;
         animation: res 1s forwards;
         animation-delay: 2.5s;
         opacity: 0;
         font-size: 17;
         line-height: 1.2;
         font-weight: 100;
         letter-spacing: 0.034em;
         }

@media only screen and (max-width: 1050px) {
	
	
	         .datecontainer{
         font-size: 20px;
         height: auto;
         width: auto;
				 margin: auto;
         }
	.date{
		margin: 0px;
		padding: 0px;
		text-align: center;
	}
}
        @media only screen and (max-width: 360px) {
	      .datecontainer{
         font-size: 20px;
         }
	   
	
             
}