
.rulesborderd{
	
	border-top: 30px solid #0ff;
}
.rulesnew{
	
	border-top: 12px solid #0ff;
}

 
   .lastrules {
			 border-top:0px;
         }
@media (max-width:500px) {
	.item{
		
		text-align: center;
	}
	
	.backupbtn {
		width: 100%;
		text-align: center;
	}
	
}
@media only screen and (max-width:780px) {
	.rightside{
		
		display: none;
	}
	
	
}.rulesborder{
	
	border-top: 30px solid #0ff;
}